<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
    <title>T4L</title>
    <icon>https://cdn0.vox-cdn.com/community_logos/34086/verge-fv.png</icon>
    <updated>2017-03-17T19:29:28-04:00</updated>
    <id>https://www</id>
    <link type="text/html" href="http://www.theverge.com/" rel="alternate"/>
    <entry>
        <published>2017-03-17T19:29:28-04:00</published>
        <updated>2017-03-17T19:29:28-04:00</updated>
        <title>Taco Menu</title>
        <content type="html">
            &lt;img alt="" src="https://tacos4life.com/images/menu_section/tacos_section-444f7a31.jpg" /&gt;
            
            
            
            &lt;p id="MryxKF"&gt;Apple quietly pushed an update to its AppleCare+ smartphone insurance program today that extends the purchase window for iPhones from 60 days to one year. The change, &lt;a href="https://www.macrumors.com/2017/03/17/applecare-plus-iphone-one-year-to-purchase/"&gt;reported first by &lt;em&gt;MacRumors&lt;/em&gt;&lt;/a&gt; and confirmed with a support rep, is not yet showing up on Apple’s official product page for AppleCare+. But if you go to &lt;a href="https://checkcoverage.apple.com/"&gt;Apple’s eligibility tool&lt;/a&gt; and input your serial number from the iPhone’s settings panel, you should be able to see a new purchase option so long as you purchased the device within the last year. &lt;/p&gt;
            &lt;p id="7WZgWR"&gt;This now means iPhone insurance through Apple has the same purchase window as Macs and the Apple TV, but the Apple Watch and iPad are still restricted to 60 days after purchase. Considering Apple &lt;a href="http://www.theverge.com/circuitbreaker/2016/9/7/12841248/apple-cheap-iphone-screen-replacement-applecare"&gt;lowered the price of screen repairs...&lt;/a&gt;&lt;/p&gt;
            &lt;p&gt;
            &lt;a href="http://tacos4life.com/Tacos-4-Life-Menu.pdf"&gt;Continue reading&amp;hellip;&lt;/a&gt;
            &lt;/p&gt;
            
        </content>
        <link rel="alternate" type="text/html" href="http://tacos4life.com/Tacos-4-Life-Menu.pdf"/>
        <id>http://www.theverge.com/2017/3/17/14963990/apple-iphone-applecare-insurance-extended-one-year</id>
        <author>
            <name></name>
        </author>
    </entry>
    <entry>
        <published>2017-03-17T17:09:20-04:00</published>
        <updated>2017-03-17T17:09:20-04:00</updated>
        <title>Sides Menu</title>
        <content type="html">
            &lt;img alt="" src="https://media-cdn.tripadvisor.com/media/photo-s/0e/de/f6/1a/delicious-sides.jpg" /&gt;
            
            https://raw.githubusercontent.com/bburroughs/Test4LifeXML/master/Screen%20Shot%202017-03-18%20at%2010.23.26%20PM.png
            
            &lt;p id="enO7hy"&gt;One of the many things I liked about my last phone, the HTC One, was its lock screen weather widget. In a world of full-featured, minute-by-minute weather apps, it didn’t offer much: just the current temperature, the day’s projected high and low range, and an icon that indicated sun, rain, or snow. But it did exactly what I wanted. I could hit the power button on my way out the door and instantly gauge whether I should be grabbing a heavy coat or a light jacket, and whether I should worry about rain soaking my shoes. I retired the One last year, and months after switching to a shiny new Pixel, I’m constantly asking myself: why won’t Google let me do the same thing?&lt;/p&gt;
            &lt;p id="D9bWLj"&gt;Google clearly understands that weather widgets are an inordinately...&lt;/p&gt;
            &lt;p&gt;
            &lt;a href="http://www.theverge.com/2017/3/17/14959148/google-pixel-no-lock-screen-weather-widget-why"&gt;Continue reading&amp;hellip;&lt;/a&gt;
            &lt;/p&gt;
            
        </content>
       <link rel="alternate" type="text/html" href="https://tacos4life.com/#locations"/>
        <id>http://www.theverge.com/2017/3/17/14959148/google-pixel-no-lock-screen-weather-widget-why</id>
        <author>
            <name></name>
        </author>
    </entry>
    <entry>
        <published>2017-03-17T17:09:20-04:00</published>
        <updated>2017-03-17T17:09:20-04:00</updated>
        <title>Locations</title>
        <content type="html">
            &lt;img alt="" src="https://tacos4life.com/images/locations/oak-st-86b9cf25.jpg" /&gt;
            
            https://raw.githubusercontent.com/bburroughs/Test4LifeXML/master/Screen%20Shot%202017-03-18%20at%2010.23.26%20PM.png
            
            &lt;p id="enO7hy"&gt;One of the many things I liked about my last phone, the HTC One, was its lock screen weather widget. In a world of full-featured, minute-by-minute weather apps, it didn’t offer much: just the current temperature, the day’s projected high and low range, and an icon that indicated sun, rain, or snow. But it did exactly what I wanted. I could hit the power button on my way out the door and instantly gauge whether I should be grabbing a heavy coat or a light jacket, and whether I should worry about rain soaking my shoes. I retired the One last year, and months after switching to a shiny new Pixel, I’m constantly asking myself: why won’t Google let me do the same thing?&lt;/p&gt;
            &lt;p id="D9bWLj"&gt;Google clearly understands that weather widgets are an inordinately...&lt;/p&gt;
            &lt;p&gt;
            &lt;a href="http://www.theverge.com/2017/3/17/14959148/google-pixel-no-lock-screen-weather-widget-why"&gt;Continue reading&amp;hellip;&lt;/a&gt;
            &lt;/p&gt;
            
        </content>
       <link rel="alternate" type="text/html" href="https://tacos4life.com/#locations"/>
        <id>http://www.theverge.com/2017/3/17/14959148/google-pixel-no-lock-screen-weather-widget-why</id>
        <author>
            <name></name>
        </author>
    </entry>
    
    
</feed>
