<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
    <title>T4L</title>
    <icon>https://cdn0.vox-cdn.com/community_logos/34086/verge-fv.png</icon>
    <updated>2017-03-17T19:29:28-04:00</updated>
    <id>https://www</id>
    <link type="text/html" href="http://www.theverge.com/" rel="alternate"/>
    <entry>
        <title>Chipotle Steak Taco</title>
        <content type="html">
            &lt;img alt="" src="https://s3-media4.fl.yelpcdn.com/bphoto/ZofsN8_NmxwBtMh2bDqf3w/258s.jpg" /&gt;
        </content>
        <link rel="alternate" type="text/html" href="sauteed onions and peppers, jack cheese, chipotle aioli, and pico de gallo on a puffy tortilla"/>
        <id>http://www.theverge.com/2017/3/17/14963990/apple-iphone-applecare-insurance-extended-one-year</id>
    </entry>
    <entry>
        <title>Grilled Chicken Taco</title>
        <content type="html">
            &lt;img alt="" src="https://s3-media1.fl.yelpcdn.com/bphoto/6gJKw-CUqpOJ9WciKtqM-w/ls.jpg" /&gt;
        </content>
       <link rel="alternate" type="text/html" href="smothered in house queso and topped with lettuce, sour cream, and pico de gallo; served on a puffy tortilla"/>
    </entry>
    <entry>
        <title>Ono Shrimp Taco</title>
        <content type="html">
            &lt;img alt="" src="https://media-cdn.tripadvisor.com/media/photo-s/0c/4f/0f/4a/20160730-194711-largejpg.jpg" /&gt;
        </content>
       <link rel="alternate" type="text/html" href="our famous pineapple ono sauce, green onions, pineapple, lettuce, and toasted coconut on a  our tortilla"/>
    </entry>
    <entry>
        <title>Classic Nachos</title>
        <content type="html">
            &lt;img alt="" src="https://s3-media4.fl.yelpcdn.com/bphoto/7IIKIt7kHQ96O3xgKfqBng/258s.jpg" /&gt;
        </content>
       <link rel="" type="" href="refried black beans, queso, pico de gallo, and sour cream"/>
    </entry>
    <entry>
        <title>Chicken Quesadilla</title>
        <content type="html">
            &lt;img alt="" src="https://media-cdn.tripadvisor.com/media/photo-s/0f/16/0b/b7/chicken-quesadilla.jpg" /&gt;
        </content>
       <link rel="" type="" href="a  our tortilla stuffed with tender marinated and grilled chicken, jack cheese, and queso"/>
    </entry>
    
</feed>
